* {
    margin: 0;
    box-sizing: border-box;
    font-weight: 500;
    margin: 15px 0 10px 10px;
    
}

h1, button {
    margin-left: 40px;
}

.form-control {
    display: inline;
    width: 200px;
    margin-left: 30px;
}

section {
    width: 600px;
}

th {
    font-weight: 800;
}

main {
    border: 1px solid blueviolet;
    border-radius: 25px;
    margin-right: 50px;
    padding-top: 20px;
    width: 650px;
}